<header class="header">
    <a href="portal-create.html" class="btn btn-primary">Create portal</a>
    <a href="portal-upload.html" class="btn">Add document</a>
    <h1 class="title">Dashboard</h1>
</header>
<div class="wysiwyg">
    <div class="row">
        <div class="medium-12 columns">
            <ul class="stat-block section">
                <li>
                    <h3 class="no-marg"><a href="#">20</a></h3>
                    <p class="no-marg">Approved</p>
                </li>
                <li>
                    <h3 class="no-marg">0</h3>
                    <p class="no-marg">Pending</p>
                </li>
                <li>
                    <h3 class="no-marg"><a href="#">14</a></h3>
                    <p class="no-marg">New files</p>
                </li>
                <li>
                    <h3 class="no-marg"><a href="#">2</a></h3>
                    <p class="no-marg">Users</p>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="medium-6 columns">
            <div class="section">
                <h4>Pending approvals</h4>
                <ul class="dotted-list">
                    <li><span class="right">4</span><a href="#" class="left">Q1_BAS_STATEMENT.myox</a></li>
                    <li><span class="right">1</span><a href="#" class="left">accounting-fees.pdf</a></li>
                </ul>
            </div>
        </div>
        <div class="medium-6 columns">
            <div class="section">
                <h4>Recently uploaded</h4>
                <ul class="dotted-list">
                    <li><span class="right">28/3/14</span><a href="#" class="left">Timesheets_2014_3_15.xls</a></li>
                    <li><span class="right">25/3/14</span><a href="#" class="left">Vehicle-lease-receipt.jpg</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <h4>My files</h4>
    <ul class="slats">
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="#"><i class="icon-folder-o"></i> &nbsp; Private folder</a></h4>
                            <p class="meta">Created Jun 1, 2013 9:32 am</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats"></div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="#" class="btn right open-modal">Open</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="#"><i class="icon-file-text-o"></i> 2013-2014_Tax_Return.docx</a></h4>
                            <p class="meta">Uploaded Aug 07, 2013 04:00 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats">
                                <div class="data">
                                    <h4 class="no-marg">Yes</h4>
                                    <p class="no-marg">Approved</p>    
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">100%</h4>
                                    <p class="no-marg">Complete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="#" class="btn right open-modal">View</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="#"><i class="icon-picture-o"></i> Vehicle-lease-receipt.jpg</a></h4>
                            <p class="meta">Edited Aug 14, 2013 12:23 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats"></div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="#" class="btn right open-modal">View</a>
                </div>
            </div>
        </li>
    </ul>
</div>