<header class="header">
    <a href="portal-create.html" class="btn btn-primary">Create new portal</a>
    <h1 class="title">Portals</h1>
    <p class="meta">Open, search or create a new portal</p>
</header>
<div class="wysiwyg">
    <div class="row">
        <div class="medium-4 columns section">
            {{>search-box}}
        </div>
    </div>
    <ul class="slats">
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="portal-dashboard.html">Kris &amp; Chris's Window Cleaning</a></h4>
                            <p class="meta">Created Aug 07, 2013 04:00 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats">
                                <div class="data">
                                    <h4 class="no-marg">8 / 10</h4>
                                    <p class="no-marg">Approvals</p>    
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">4 / 5</h4>
                                    <p class="no-marg">Users</p>
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">3</h4>
                                    <p class="no-marg">New uploads</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="portal-dashboard.html" class="btn right">Open</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="portal-dashboard.html">Deans DJ Hire</a></h4>
                            <p class="meta">Created Aug 07, 2013 04:00 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats">
                                <div class="data">
                                    <h4 class="no-marg">1</h4>
                                    <p class="no-marg">Approvals</p>    
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">7 / 9</h4>
                                    <p class="no-marg">Users</p>
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">13</h4>
                                    <p class="no-marg">New uploads</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="portal-dashboard.html" class="btn right">Open</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="portal-dashboard.html">Shane's Car Detailing</a></h4>
                            <p class="meta">Created Aug 07, 2013 04:00 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats">
                                <div class="data">
                                    <h4 class="no-marg">10</h4>
                                    <p class="no-marg">Approvals</p>    
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">2</h4>
                                    <p class="no-marg">Users</p>
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">0</h4>
                                    <p class="no-marg">New uploads</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="portal-dashboard.html" class="btn right">Open</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="portal-dashboard.html">Absolute Accounting Services</a></h4>
                            <p class="meta">Created Aug 07, 2013 04:00 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats">
                                <div class="data">
                                    <h4 class="no-marg">7 / 14</h4>
                                    <p class="no-marg">Approvals</p>    
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">5 / 7</h4>
                                    <p class="no-marg">Users</p>
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">32</h4>
                                    <p class="no-marg">New uploads</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="portal-dashboard.html" class="btn right">Open</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="portal-dashboard.html">Betty's Book Keeping</a></h4>
                            <p class="meta">Created Aug 07, 2013 04:00 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats">
                                <div class="data">
                                    <h4 class="no-marg">4 / 7</h4>
                                    <p class="no-marg">Approvals</p>    
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">12</h4>
                                    <p class="no-marg">Users</p>
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">6</h4>
                                    <p class="no-marg">New uploads</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="portal-dashboard.html" class="btn right">Open</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="portal-dashboard.html">Total Accountants</a></h4>
                            <p class="meta">Created Aug 07, 2013 04:00 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats">
                                <div class="data">
                                    <h4 class="no-marg">92</h4>
                                    <p class="no-marg">Approvals</p>    
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">8</h4>
                                    <p class="no-marg">Users</p>
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">17</h4>
                                    <p class="no-marg">New uploads</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="portal-dashboard.html" class="btn right">Open</a>
                </div>
            </div>
        </li>
    </ul>
    <div class="row align-center">
        {{>pagination}}
    </div>
    <br><br>
</div>