<header class="header">
    <a href="portal-upload.html" class="btn btn-primary">Add document</a>
    <h1 class="title">Filing cabinet</h1>
</header>
<div class="wysiwyg">
    <div class="row">
        <div class="medium-4 columns section">
            {{>search-box}}
        </div>
    </div>
    <ul class="slats">
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="#" class="open-modal"><i class="icon-file-text-o"></i> 2013-2014_Tax_Return.docx</a></h4>
                            <p class="meta">Uploaded Aug 07, 2013 04:00 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats">
                                <div class="data">
                                    <h4 class="no-marg">Yes</h4>
                                    <p class="no-marg">Approved</p>    
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">100%</h4>
                                    <p class="no-marg">Complete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="#" class="btn right open-modal">View</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="#" class="open-modal"><i class="icon-picture-o"></i> Vehicle-lease-receipt.jpg</a></h4>
                            <p class="meta">Edited Aug 14, 2013 12:23 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats"></div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="#" class="btn right open-modal">View</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="#" class="open-modal"><i class="icon-table"></i> Q1_BAS_STATEMENT.myox</a></h4>
                            <p class="meta">Uploaded Aug 07, 2013 04:00 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats">
                                <div class="data">
                                    <h4 class="no-marg">No</h4>
                                    <p class="no-marg">Approved</p>    
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">63.0%</h4>
                                    <p class="no-marg">Complete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="#" class="btn right open-modal">View</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="#" class="open-modal"><i class="icon-list-alt"></i> Timesheets_2014_3_15.xls</a></h4>
                            <p class="meta">Uploaded Aug 07, 2013 04:00 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="#" class="btn right open-modal">View</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="#" class="open-modal"><i class="icon-file-o"></i> accounting-fees.pdf</a></h4>
                            <p class="meta">Uploaded Aug 07, 2013 04:00 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats">
                                <div class="data">
                                    <h4 class="no-marg">No</h4>
                                    <p class="no-marg">Approved</p>    
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">18.0%</h4>
                                    <p class="no-marg">Complete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="#" class="btn right open-modal">View</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="#" class="open-modal"><i class="icon-list-alt"></i> Timesheets_2014_3_1.xls</a></h4>
                            <p class="meta">Uploaded Aug 07, 2013 04:00 pm</p>
                        </div>
                        <div class="small-6 columns">
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="#" class="btn right open-modal">View</a>
                </div>
            </div>
        </li>
                <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="#" class="open-modal"><i class="icon-picture-o"></i> Vehicle-lease-receipt.jpg</a></h4>
                            <p class="meta">Edited Aug 14, 2013 12:23 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats"></div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="#" class="btn right open-modal">View</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="#" class="open-modal"><i class="icon-table"></i> Q1_BAS_STATEMENT.myox</a></h4>
                            <p class="meta">Uploaded Aug 07, 2013 04:00 pm</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats">
                                <div class="data">
                                    <h4 class="no-marg">No</h4>
                                    <p class="no-marg">Approved</p>    
                                </div>
                                <div class="data">
                                    <h4 class="no-marg">63.0%</h4>
                                    <p class="no-marg">Complete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="#" class="btn right open-modal">View</a>
                </div>
            </div>
        </li>
    </ul>
    <div class="row align-center">
        {{>pagination}}
    </div>
    <br><br>
</div>

{{>modal}}