<header class="header">
    <h1 class="title">Create Portal</h1>
    <p class="meta">Modify or edit your portal settings</p>
</header>
<div class="wysiwyg">
    <div class="row">
        <div class="x-large-12 columns">
            <form class="form" method="post" action="/">
                <div class="row">
                    <div class="medium-12 columns">
                        <label for="portal-name"><strong>Portal Name</strong></label>
                        <input type="text" required="" id="portal-name" value="" name="portal-name">
                    </div>
                </div>
            </form>
            <h3>Select clients</h3>
            <ul class="tab-nav">
                <li class="active"><a href="#tab-1">Clients</a></li>
                <li><a href="#tab-2">Family groups</a></li>
            </ul>
            <div id="tab-1" class="tab-content">
                <table class="expand section">
                    <thead>
                        <tr>
                            <th colspan="2">{{>search-box}}</th>
                            <th>&nbsp;</th>
                            <th><a href="#" class="btn btn-primary right">Add</a></th>
                        </tr>
                        <tr>
                            <th><i class="icon-caret-down"></i></th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>ABC123</td>
                            <td>John Smith</td>
                            <td>user.name@company.com</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>ABC123</td>
                            <td>Jane Doe</td>
                            <td>user.name@bigcompany.com</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>ABC123</td>
                            <td>Mystery Man</td>
                            <td>mystery@man.com</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>ABC123</td>
                            <td>John Smith</td>
                            <td>user.name@company.com</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>ABC123</td>
                            <td>Jane Doe</td>
                            <td>user.name@company.com</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>ABC123</td>
                            <td>Mystery Man</td>
                            <td>user.name@company.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="tab-2" class="tab-content">
                <table class="expand section">
                    <thead>
                        <tr>
                            <th colspan="2">{{>search-box}}</th>
                            <th>&nbsp;</th>
                            <th><a href="#" class="btn btn-primary right">Add</a></th>
                        </tr>
                        <tr>
                            <th width="50"><i class="icon-caret-down"></i></th>
                            <th>Family group</th>
                            <th>Users</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Smith Family</td>
                            <td><a href="#">8</a></td>
                            <td><a href="#" class="btn btn-sml right">expand</a></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Doe Family</td>
                            <td><a href="#">1</a></td>
                            <td><a href="#" class="btn btn-sml right">expand</a></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Mystery Man Family</td>
                            <td><a href="#">2</a></td>
                            <td><a href="#" class="btn btn-sml right">expand</a></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>John Family</td>
                            <td><a href="#">32</a></td>
                            <td><a href="#" class="btn btn-sml right">expand</a></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Does Family</td>
                            <td><a href="#">16</a></td>
                            <td><a href="#" class="btn btn-sml right">expand</a></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Mystery Family</td>
                            <td><a href="#">7</a></td>
                            <td><a href="#" class="btn btn-sml right">expand</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Add or remove users</h3>
            <div class="row">
                <div class="medium-4 columns">
                    <p><strong>Name</strong></p>
                </div>
                <div class="medium-4 columns">
                    <p><strong>Email</strong></p>
                </div>
                <div class="medium-4 columns">
                    <p><strong>Role</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns">
                    <p>John Smith</p>
                </div>
                <div class="medium-4 columns">
                    <p>user.name@company.com</p>
                </div>
                <div class="medium-3 columns">
                    <div class="select-wrpper">
                        <select name="" id="">
                            <option value="Administrator" selected>Administrator</option>
                            <option value="Bookkeeper">Bookkeeper</option>
                            <option value="User">User</option>
                        </select>
                    </div>
                </div>
                <div class="medium-1 columns">
                    <p><a href="#"><i class="icon-times-circle-o"></i></a></p>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns">
                    <p>Jane Doe</p>
                </div>
                <div class="medium-4 columns">
                    <p>user.name@company.com</p>
                </div>
                <div class="medium-3 columns">
                    <div class="select-wrpper">
                        <select name="" id="">
                            <option value="Administrator">Administrator</option>
                            <option value="Bookkeeper">Bookkeeper</option>
                            <option value="User" selected>User</option>
                        </select>
                    </div>
                </div>
                <div class="medium-1 columns">
                    <p><a href="#"><i class="icon-times-circle-o"></i></a></p>
                </div>
            </div>
            <br>
            <h5>Add new</h5>
            <form class="form" method="post" action="/">
                <div class="row">
                    <div class="medium-4 columns">
                        <label for="user-name"><strong>Name</strong></label>
                        <input type="text" id="user-name">
                    </div>
                    <div class="medium-4 columns">
                        <label for="user-email"><strong>Email</strong></label>
                        <input type="email" id="user-email">
                    </div>
                    <div class="medium-4 columns">
                        <label for="user-email"><strong>Role</strong></label>
                        <div class="select-wrpper">
                            <select name="" id="">
                                <option value="Administrator">Administrator</option>
                                <option value="Bookkeeper">Bookkeeper</option>
                                <option value="User">User</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <p><a href="#" class="btn">Add user</a></p>
                    </div>
                </div>
            </form>
            <p><a href="portal-dashboard.html" class="btn btn-primary right">Create Portal</a></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>