<header class="header">
    <a href="portal-upload.html" class="btn btn-primary">Add document</a>
    <a href="portal-create.html" class="btn btn-circle"><i class="icon-pencil"></i></a>
    <h1 class="title">Kris &amp; Chris's Window Cleaning</h1>
</header>
<div class="wysiwyg">
    <div class="row">
        <div class="small-6 columns">
            <div class="section">
                <h4>Pending approvals</h4>
                <ul class="dotted-list">
                    <li><span class="right">4</span><a href="#" class="left">Q1_BAS_STATEMENT.myox</a></li>
                    <li><span class="right">1</span><a href="#" class="left">accounting-fees.pdf</a></li>
                </ul>
            </div>
        </div>
        <div class="small-6 columns">
            <div class="section">
                <h4>Recently uploaded</h4>
                <ul class="dotted-list">
                    <li><span class="right">28/3/14</span><a href="#" class="left">Timesheets_2014_3_15.xls</a></li>
                    <li><span class="right">25/3/14</span><a href="#" class="left">Vehicle-lease-receipt.jpg</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="row collapse">
        <h4 class="left">Documents</h4> 
        <div class="right" style=" position:relative; top:-10px;"> 
            {{>search-box}}
        </div>
    </div>
    <ul class="slats">
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="portal-file-list.html"><i class="icon-folder-o"></i> &nbsp; Filing cabinet</a></h4>
                            <p class="meta">Created Jun 1, 2013 9:32 am</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats"></div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="portal-file-list.html" class="btn right">Open</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="portal-file-list.html"><i class="icon-folder-o"></i> &nbsp; The vault</a></h4>
                            <p class="meta">Created Jun 1, 2013 9:32 am</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats"></div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="portal-file-list.html" class="btn right">Open</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="portal-file-list.html"><i class="icon-folder-o"></i> &nbsp; Tax</a></h4>
                            <p class="meta">Created Jun 1, 2013 9:32 am</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats"></div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="portal-file-list.html" class="btn right">Open</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <h4 class="title"><a href="portal-file-list.html"><i class="icon-folder-o"></i> &nbsp; Permanent files</a></h4>
                            <p class="meta">Created Jun 1, 2013 9:32 am</p>
                        </div>
                        <div class="small-6 columns">
                            <div class="stats"></div>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <a href="portal-file-list.html" class="btn right">Open</a>
                </div>
            </div>
        </li>
    </ul>
</div>