<header class="header">
    <h1 class="title">Upload a file</h1>
    <p class="meta">Drap and drop your file or use the standard uploader</p>
</header>
<div class="wysiwyg">
    <div class="row">
        <div class="x-large-12 columns">
            <div class="row">
                <div class="medium-12 columns">
                    <div class="bucket section align-center">
                        <i class="h1 icon-cloud-upload"></i>
                        <h3>Drop your file here</h3>
                        <a href="#">Or use the standard uploader</a>
                    </div>
                    <h5>file-name.docx <span class="right">100% <i class="icon-check"></i></span></h5>
                </div>
            </div>
            <br>
            <form class="form" method="post" action="/">
                <div class="row">
                    <div class="medium-6 columns">
                        <div class="form-group">
                            <label for="user-email"><strong>Title</strong></label>
                            <input type="email" id="user-email">
                        </div>
                        <div class="form-group">
                            <label for="user-email"><strong>Description</strong></label>
                            <input type="email" id="user-email">
                        </div>
                    </div>
                    <div class="medium-6 columns">
                        <label for=""><strong>Notes</strong></label>
                        <textarea name="" id="" rows="5"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="medium-6 columns">
                        <label for="user-email"><strong>Portal</strong></label>
                        <div class="select-wrpper">
                            <select name="" id="">
                                <option value="">Select</option>
                                <option value="">Kris &amp; Chris's Window cleaning</option>
                                <option value="">Deans landscaping</option>
                            </select>
                        </div>
                    </div>
                    <div class="medium-6 columns">
                        <label for="user-email"><strong>Save to</strong></label>
                        <div class="select-wrpper">
                            <select name="" id="">
                                <option value="">Filing cabinet</option>
                                <option value="">The vault</option>
                                <option value="">Tax</option>
                                <option value="">Permanent files</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="medium-6 columns">
                        <label for="user-email"><strong>Action</strong></label>
                        <div class="select-wrpper">
                            <select name="" id="">
                                <option value="">None</option>
                                <option value="">View</option>
                                <option value="">Approval</option>
                            </select>
                        </div>
                    </div>
                    <div class="medium-6 columns">
                        <label for="user-email"><strong>Notify</strong></label>
                        <div class="select-wrpper">
                            <select name="" id="">
                                <option value="Administrator">Kris Smith</option>
                                <option value="Bookkeeper">Chris Smith</option>
                                <option value="User">Dean Smith</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <p>
                <a href="portal-dashboard.html" class="btn btn-primary right">Save and close</a>
                <a href="#" class="btn right">Add another</a>
            </p>
            <p>&nbsp;</p>
            <br>
            <p>&nbsp;</p>
        </div>
    </div>
</div>