<div class="modal is-hidden">
    <div class="modal-preview">
        <img class="modal-preview-media" src="images/demo-receipt.jpg" alt="">
    </div>
    <div class="modal-data">
        <h3>Document details</h3>
        <h5 class="title">Document_file_name.docx</h5>
        <p class="meta error">Due: In 2 days</p>
        <p><strong>Comments</strong></p>
        <ul>
            <li>Dean - Sorry Jenny, please update my surname</li>
            <li>Jenny - Hi Dean, please review and approve if everything is correct</li>
        </ul>
        <form class="form">
            <div class="form-group">
                <label for="comment"><strong>Leave a comment</strong></label>
                <textarea id="comment" rows="5"></textarea> 
            </div>
            <div class="form-group">
                <button class="btn btn-sml">Add comment</button>   
            </div>
        </form> 
        <p><a href="#" class="btn">Request amendment</a> <a href="#" class="btn btn-primary">Approve</a></p>
        <br>
        <p><strong>History</strong></p>
        <ul>
            <li>24/5 - File was sent for approval</li>
            <li>18/4 - Admin made changes to this document</li>
            <li>1/4 - File was uploaded</li>
        </ul>
    </div>
</div>