<aside class="sidebar">
    <ul class="nav sidebar-nav">
        <li>
            <a href="dashboard.html"><i class="icon-bar-chart-o"></i><span>Dashboard</span></a>
        </li>
        <li>
            <a href="clients.html"><i class="icon-user"></i><span>Clients</span></a>
        </li>
        <li>
            <a href="portal-list.html" class="active"><i class="icon-file"></i><span>Portals</span></a>
        </li>
        <li>
            <a href="approvals.html"><i class="icon-tasks"></i><span>Approvals</span></a>
        </li>
    </ul>
</aside>