<div class="search-box">
    <label class="visually-hidden" for="contacts-search"><strong>Search</strong></label>
    <input type="text" required="" id="contacts-search" value="" name="contacts-search" placeholder="Search">
    <button class="search-submit btn-simple"><i class="icon-search"></i></button>
</div>